* {
    scrollbar-width: auto;
    scrollbar-color: #a7a9be #262339;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: #16161a;
}

*::-webkit-scrollbar-thumb {
    background-color: #72757e;
    border-radius: 10px;
    border: 4px solid #16161a;
}